<h1> Accepting items </h1>

<body>
    <button id="accept"> Accept </button>
    <script>
        window.onload = async (e) => {
            const response = await fetch('/api/auth/barter/pending-requests/', {
                method: 'GET',
                credentials:"include"
            })

            const data = await response.json()
            console.log(data);
        }

        document.getElementById('accept').addEventListener('click', async (e) => {
            const response = await fetch('/api/auth/barter/accept/!3X!@9RV/', {
                method: 'POST',
                credentials:"include"
            })

            const data = await response.json()
            console.log(data);
        })
    </script>
</body>