<h1>List Items here</h1>

<script>
    window.onload = async () => {
        const response = await fetch('/api/auth/barter/items/', {
            method: 'GET',
            credentials:"include",
        });
        
        const data = await response.json();
        console.log(data);

        // const request_response = await fetch('/api/auth/barter/request/IDbNaNvD/', {
        //     method: 'POST',
        //     credentials:"include",
        // });

        // const request_data = await request_response.json(); 
        // console.log(request_data);
    }
</script>